<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="2775CoffeeZeit.28328C7222DA6"
	  Publisher="CN=1BD61FE2-F217-4D46-9A05-EE02A424756D"
	  Version="1.0.27.0" />

	<mp:PhoneIdentity PhoneProductId="21d38071-8909-4316-affe-a4f2cf98f223" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>view-appxpackage</DisplayName>
		<PublisherDisplayName>CoffeeZeit</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<!--<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />-->
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">

			<uap:VisualElements
			  DisplayName="ViewAppxPackage"
			  Description="ViewAppxPackage"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<uap3:Extension Category="windows.appExecutionAlias" Executable="view-appxpackage\view-appxpackage.exe" EntryPoint="Windows.FullTrustApplication">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="view-appxpackage.exe" />
						<desktop:ExecutionAlias Alias="view-msixpackage.exe" />
					</uap3:AppExecutionAlias>
				</uap3:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />

		<!-- Necessary for some packaging APIs -->
		<rescap:Capability Name="packageManagement"/>
	</Capabilities>
</Package>
